{% extends 'layout.html' %}

{% block content %}
    <div>
        <h2 class="title">Contact</h2>
        <form method="POST" action="/signup">
            {% for message in get_flashed_messages() %}
                <div>{{ message }}</div>
            {% endfor %}
            <div class="form-field">{{ form.email.label }} {{ form.email }}
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-field">{{ form.password.label }} {{ form.password }}
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-field">{{ form.confirm_password.label }} {{ form.confirm_password }}
                {% if form.confirm_password.errors %}
                    {% for error in form.confirm_password.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            {{ form.submit }}
        </form>
    </div>
{% endblock %}