{% extends 'layout.html' %}
{% block content %}
    <div class="card col-sm-6 mx-auto">
    <form id="create-post-form" method="POST" action="/post/create">
        <div id="create-form-error-message" role="alert"></div>
        <div>
            <img id="preview" height="100" width="100" alt="profile image"
                 src="#" />
        </div>
        <div class="form-group input-group">
            <div class="custom-file">
                <input type="file" id="post_img" name="post_img" class="form-control custom-file-input"
                       aria-describedby="postImgFileAddOn">
                <label class="custom-file-label" for="postImgFileAddOn">Choose file</label>
            </div>
            {{ form.post_img_url(type="hidden") }}
            {% if form.post_img_url.errors %}
                {% for error in form.post_img_url.errors %}
                    <span class="error-message text-danger">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            <label for="post_title">{{ form.post_title.label }} </label>
            {{ form.post_title(class="form-control") }}
        </div>
        <div class="form-group">
            <label for="post_body">{{ form.post_body.label }} </label>
            {{ form.post_body(class="form-control span6", row="3") }}
        </div>
        <div class="text-center row">
            <a class="btn btn-secondary" href="{{ url_for('post.feed_page', username=user.username) }}">Cancel</a>
            <input class="btn btn-primary" type="submit" value="Create Post">
        </div>
    </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/upload_image.js') }}"></script>

{% endblock %}