{% extends 'layout.html' %}

{% block content %}
    <div>
    <div class="text-center col-sm-6 mx-auto">
        {{ follow_info.follows }} Follows
        {{ follow_info.followers }} Followers
        {% if user.username != title %}
            <button class="col-sm-2">Follow</button>
        {% endif %}
    </div>
    {% include 'post/posts_layout.html' %}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/post_action.js') }}"></script>

{% endblock %}