{% extends 'layout.html' %}

{% block content %}
    <div>
        <div class="text-center">
            <p> {{ post.username }}</p>
            <img src="{{ post.img_url }}" alt="Post Image" />
            <h2> {{ post.title }} </h2>
            <p> {{ post.body }} </p>
        </div>
        <div>
            {{ post.like_num }} Likes
        </div>
        <div>
            {% for comment in post.comments %}
                <p>comment.comment_body</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}