{% extends 'layout.html' %}

{% block content %}
    <div class="text-center">
        <div>
            <p> {{ post.user.username }}</p>
            <img src="{{ post.img_url }}" alt="Post Image" />
            <h2> {{ post.title }} </h2>
            <p> {{ post.body }} </p>
        </div>
        <div>
            <a class="btn btn-secondary col-sm-1 {% if post.like == True %} disabled {% endif %}"
               href="/post/like/{{ post.post_id }}"> Like </a>
        </div>
        <div>
            {{ post.comments|length }} comments
            {% for comment in post.comments %}
                <p>comment.comment_body</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}