{% extends 'layout.html' %}

{% block content %}
    <div class="text-center">
        <div>
            <p> {{ post.user.username }}</p>
            <img src="{{ post.img_url }}" alt="Post Image" width="500" height="300"/>
            <h2> {{ post.title }} </h2>
            <p> {{ post.body }} </p>
        </div>
        <div>
            <a class="btn col-sm-1 {% if post.liked == True %} disabled btn-danger {% else %} btn-outline-danger {% endif %}"
               href="/post/like/{{ post.post_id }}"> Like </a>
            <a> {{ post.likes|length }} likes </a>
            {{ post.comments|length }} comments
        </div>
        <div>
            {% for comment in post.comments %}
                <div class="row">
                    {{ comment.username }}
                    <p> {{ comment.comment_body }} </p>
                </div>
            {% endfor %}
        </div>
        <div>
            <form method="POST" action="post/comment/{{ post.post_id }}">
                <div class="input-group col-sm-6 mx-auto">
                    <input type="text" id="comment_text" class="form-control" placeholder="Type Comment"
                    aria-label="Type Comment" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit"> Comment </button>
                    </div>
                </div>
            </form>
        </div>
        <a class="btn btn-secondary mx-0" href="/post/feed"> Back </a>
    </div>
{% endblock %}